#googleMap {
    margin:auto;
    margin-left:200px;
    height:500px;
}

input {
    margin-left: 20px;
    margin-top:5px;
    position: relative;
    width: 200px;
}

.row {
    padding-top: 5px;
    width: 300px;
}

#manualLocation {
    margin-left: 100px;
    margin-top: -84px;
}