header {
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.site {
    max-width: 900px;
}
.top-menu {
    height: 30px;
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.log-in {
    padding-top: 5px;
    color: white;
    text-align:right;
    font-size: 12px;
}
.your, .manager-text{
    background: -webkit-linear-gradient(top, #98999B,black);
    background: linear-gradient(top, #98999B, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.manager-text {
    font-size: 20px;
}
.your {
    padding-top: 15px;
    font-size: 15px;
}
.partners {
    font-size: 12px;
    text-align: left;
    color: white;
}
.button-separator {
    color: white;
}
.golf-text {
    font-size: 40px;
    margin-bottom: 0px;
    color: #5595DC;
    color: -webkit-gradient(linear, left top, left bottom, from(#5595DC), to(#07488A));
    color: -webkit-linear-gradient(top, #5595DC, #07488A);
    color: -moz-linear-gradient(top, #5595DC, #07488A);
    color: -o-linear-gradient(top, #5595DC, #07488A);
    color: linear-gradient(to bottom, #5595DC, #07488A);
    font-family: Consolas, monaco, monospace;
}
.your-golf-manager {
    font-family: Consolas, monaco, monospace;
}
.golf-manager {
    background-image: url("../images/background.png");
}
.register-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 25px;
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.register-nav li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
}
.nav-dropdown > li {
    padding: 0px 16px;
}
.nav-bar a:hover {
    color: yellow;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 2px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2F2E2D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 40px;
    opacity: 0.95;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #5f5555;
    color: yellow;
}
.dropdown-content a:hover {
    color: yellow;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:after {
    content: '';
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 10%;
    top: -10px;
}
.nav-bar {
    font-size: 12px;
}
.membership-content{
    border: solid 1px #E1E1E1;
    padding-bottom: 300px;
    background-color: white;
}
.membership-article{
    font-weight: bold;
    text-align: center;
}
.description{
    margin: 40px 0px 40px 0px;
}
.bottom-right {
    border-bottom-right-radius: 7px;
}
.membership-variety {
    margin-left: 15px;
    margin-right: 15px;
}
.features .first-cell{
    background-color: #8F8F8F;
}
.features li {
    background-color: #CBCBCB;
}
.features{
    padding: 0;
    margin: 0;
    list-style: none;
}
.features > .features-first-li {
    background-color: #A1A1A1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A1A1A1), to(#6A6A6A));
    background-image: -webkit-linear-gradient(top, #A1A1A1, #6A6A6A);
    background-image: -moz-linear-gradient(top, #A1A1A1, #6A6A6A);
    background-image: -o-linear-gradient(top, #A1A1A1, #6A6A6A);
    background-image: linear-gradient(to bottom, #A1A1A1, #6A6A6A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.menu{
    background-color: #E0E0E0;
}
.fa-check {
    color: #4D8601;
}
.fa-times{
    color: #B50505;
}
.sign-up {
    color: white;
    background-color: #5C5C5C;
    border: solid 5px #5C5C5C;
    width: 120px;
    border-radius: 20px;
}
.features > li, .menu > li{
    height: 50px;
    font-size: 20px;
    border-bottom: inset 1px white;
}
.features > li {
    border-bottom: inset 1px #A1A1A1;
}
.offer-first-li{
    background-color: #22538B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#22538B), to(#4876A4));
    background-image: -webkit-linear-gradient(top, #22538B, #4876A4);
    background-image: -moz-linear-gradient(top, #22538B, #4876A4);
    background-image: -o-linear-gradient(top, #22538B, #4876A4);
    background-image: linear-gradient(to bottom, #22538B, #4876A4);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top-left-radius: 2px;
}
footer menu li {
    background-color: red;
}
.features-first-li:first-child, .silver li:first-child, .gold li:first-child, .premium li:first-child {
    height: 85px;
}
.article {
    color: white;
    font-size: 20px;
    height: 16px;
    font-weight: bold;
}
.dollar{
    font-size: 28px;
    color: white;
}
.price{
    font-size: 48px;
    color: white;
    font-weight: bold;
}
.mo{
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
}
.features-first-li:first-child {
    background-color: #8F8F8F;
    padding-top: 15px;
    color: #E0E0E0;
    border-top-left-radius: 7px;
}
.offer-first-li.premium{
    border-top-right-radius: 7px;
}
.square {
    width: 20%;
    position: relative;
    overflow: hidden;
    border-top: solid 30px #515151;
    box-shadow: 0px 5px 10px #888888;
}
.triangle {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 30px 50px 40px 50px;
    border-color: transparent transparent transparent #515151;
    text-shadow: 0 0 20px black;
}
.text-content {
    font-weight: bold;
    margin-left: 10px;
    font-size: 13px;
}
.footer-nav {
    padding-top: 10px;
}
.grid-container {
    padding: 0;
}
.footer-menu {
    height: 100%;
    color: white;
    list-style: none;
    margin: 0;
}
footer{
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.rights-reserved {
    font-size: 10px;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
}
.footer-golf-logo{
    height: 50px;
    padding-right: 10px;
}
.footer-golf-li{
    padding-top: 15px;
    color: white;
}
.first-cell {
    border-bottom: inset 1px #7C7E80;
    color: rgb(241, 226, 106);
}
ul > .rights-reserved {
    border-bottom: none;
}
.site-holder {
    background-image: url("../images/background.png");
    border-top: dotted 2px black;
    border-bottom: dotted 2px black;
}
.menu {
    box-shadow: -1px 0px 10px 1px #888888;
}
.offers-container:hover .offer-first-li{
    height:103px;
    margin-top: -1.1rem;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -moz-linear-gradient(top, white, white);
    background-image: -o-linear-gradient(top, white, white);
    background-image: linear-gradient(to bottom, white, white);
    border-top-left-radius: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.offers-container:hover{
    position: relative;
    box-shadow: -5px 0px 100px #888888;
    z-index: 2;
}
.offers-container:hover .sign-up{
    background-color: #C83220;
    border-color: #C83220;
}
.offers-container:hover .sign-up-li{
    height: 130px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 10px #888888;
}
.offers-container:hover .menu > li{
    border-bottom: inset 1px gray;
}
.offers-container:hover .menu > .offer-first-li{
    border-bottom: none;
}
.offers-container:hover .menu {
    background-color: white;
}
.features > .bottom-left, .menu > .sign-up-li{
    height: 90px;
    border-bottom-left-radius: 7px;
}
.point-logo{
    height: 80px;
}
.up {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 110px 90px 100px;
    border-color: transparent transparent green transparent;
    float: left;
}
.footer-menu > .rights-reserved {
    color: white;
    border-bottom: none;
}
.logo-list > .first-cell {
    border: none;
}
.down-arrow {
    position: relative;
    background-color: #5CB243;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5CB243), to(#257F18));
    background-image: -webkit-linear-gradient(top, #5CB243, #257F18);
    background-image: -moz-linear-gradient(top, #5CB243, #257F18);
    background-image: -o-linear-gradient(top, #5CB243, #257F18);
    background-image: linear-gradient(to bottom, #5CB243, #257F18);
    height: 81px;
    width: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.down-arrow:after {
    display: block;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    border-top: 20px solid #5DB343;
    border-top-color: #257F18;
    border-top-color: -webkit-gradient(linear, left top, left bottom, from(#257F18), to(#19730F));
    border-top-color: -webkit-linear-gradient(top, #257F18, #19730F);
    border-top-color: -moz-linear-gradient(top, #257F18, #19730F);
    border-top-color: -o-linear-gradient(top, #257F18, #19730F);
    border-top-color: linear-gradient(to bottom, #257F18, #19730F);
    border-right: 100px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 100px solid transparent;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 1023px) {
    .nav-dropdown > li {
        padding: 0px 0px;
   }
    .media-container {
        padding: 0;
   }
    .attached-second, .attached-third {
        height: 100px;
   }
    .news-article {
        text-align: center;
   }
    .news-picture {
        align-content: center;
   }
    .menu {
        text-align: center;
   }
    .icons-content {
        text-align: left;
   }
    .footer-golf-li {
        text-align: center;
   }
    .circle {
        margin-top: 10px;
   }
    .nav-dropdown > li {
        text-align: center;
   }
    .media-container {
        padding-right: 20px;
   }
    .button-container {
        text-align: center;
   }
    .rights-reserved {
        border-bottom: inset 1px gray;
   }
    .attached-pictures div {
        margin-bottom: 10px;
   }
    .topnav a, .dropdown .dropbtn {
        display: none;
   }
    .topnav a.icon {
        float: right;
        display: block;
   }
    .topnav.responsive {
       position: relative;
   }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
   }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
   }
    .topnav.responsive .dropdown {
       float: none;
   }
    .topnav.responsive .dropdown-content {
       position: relative;
   }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
   }
    .topnav {
        width: 100%;
   }
    .dropdown-content {
        margin-top: 5px;
        margin-left: 20px;
   }
    .dropdown-content:after {
        content: none;
   }
    .photos:after{
        content:none;
   }
    div .sticky {
        bottom: 0px;
        left: 0px;
   }
    .sticky {
        position: relative;
        padding-top: 30px;
   }
    .sticky-logos {
        display: -webkit-inline-box;
        width: 100%;
   }
    .sticky-logos li {
        width: 25%;
        text-align: center;
   }
    ul > .rights-reserved {
        border-bottom: inset 1px #7C7E80;
   }
    .text-content {
        text-align: center;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .article {
        font-size: 17px;
   }
    .dollar {
        font-size: 20px;
   }
    .price {
        font-size: 40px;
   }
    .mo {
        font-size: 15px;
        padding-bottom: 10px;
        padding-left: 4px;
   }
    .down-arrow:after {
        border-right: 75px solid transparent;
        border-left: 75px solid transparent;
        border-top-color: #257F18;
   }
    ul > .rights-reserved {
        border-bottom: inset 1px #7C7E80;
   }
}
@media only screen and (max-width: 767px){
    .down-arrow:after {
        display: block;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0;
        border-top: 33px solid #5DB343;
        border-top-color: #257F18;
        border-top-color: -webkit-gradient(linear, left top, left bottom, from(#257F18), to(#19730F));
        border-top-color: -webkit-linear-gradient(top, #257F18, #19730F);
        border-top-color: -moz-linear-gradient(top, #257F18, #19730F);
        border-top-color: -o-linear-gradient(top, #257F18, #19730F);
        border-top-color: linear-gradient(to bottom, #257F18, #19730F);
        border-right: 140px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 140px solid transparent;
   }
    .text-content {
        text-align: center;
   }
}
