header {
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.grid-container {
    padding: 0;
}
.top-menu {
    height: 30px;
}
.your, .manager-text{
    background: -webkit-linear-gradient(top, #98999B,black);
    background: linear-gradient(top, #98999B, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.your {
    padding-top: 15px;
    font-size: 15px;
}
.manager-text {
    font-size: 20px;
}
.log-in {
    padding-top: 5px;
    color: white;
    text-align:right;
    font-size: 12px;
}
.partners {
    font-size: 12px;
    text-align: left;
    color: white;
}
.button-separator {
    color: white;
}
.golf-text {
    font-size: 40px;
    margin-bottom: 0px;
    color: #5595DC;
    color: -webkit-gradient(linear, left top, left bottom, from(#5595DC), to(#07488A));
    color: -webkit-linear-gradient(top, #5595DC, #07488A);
    color: -moz-linear-gradient(top, #5595DC, #07488A);
    color: -o-linear-gradient(top, #5595DC, #07488A);
    color: linear-gradient(to bottom, #5595DC, #07488A);
    font-family: Consolas, monaco, monospace;
}
.golf-manager {
    background-image: url("../images/background.png");
}
.your-golf-manager {
    font-family: Consolas, monaco, monospace;
}
.register-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 25px;
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.register-nav li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
}
.nav-dropdown > li {
    padding: 0px 16px;
}
.topnav a:hover {
    color: yellow;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 2px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2F2E2D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 40px;
    opacity: 0.95;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #5f5555 
}
.dropdown-content a:hover {
    color: yellow;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:after {
    content: '';
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    left: 10%;
    top: -10px;
}
.nav-bar {
    font-size: 12px;
}
.membership-container{
    background-color: #E7E7E7;
    padding-left: 20px;
}
.membership-text {
    font-size: 14px;
    border-right: inset 1px gray;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#container {
    position:relative;
    top:20px;
    right: 20px;
}
#golf-field{
    position: absolute;
    right: 20px;
    top: 20px;
}
#field-players {
    position: absolute;
    right: 10px;
    top: 10px;
}
#women-golfers {
    position: absolute;
    right: 40px;
}
.topics {
    margin-top: 10%;
}
.container-topics{
    position: relative;
}
.paperclipt{
    width: 10px;
    height: 10px;
}
#individual, #clubs, #book {
    position: absolute;
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.paperclip {
    position: absolute;
    height: 50px;
    margin-top: -25px;
    padding-left: 30px;
}
.individual-description {
    color:white;
    font-weight: bold;
    font-size: 18px;
    padding-left: 110px;
}
.individual-description-second {
    color:green;
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 110px;
}
.tournament-logo{
    position: relative;
    z-index: 99;
    left: -8px 
}
.attached-pictures {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    border: outset 1px #E1E1E1;
    border-bottom: none;
    border-right: inset 1px #E1E1E1;
}
.attached-first {
    border: solid 1px #B0DD2A;
    border-radius: 10px;
    background-color: #B0DD2A;
    height: 100px;
}
.attached-second {
    border: solid 1px #3C8EE4;
    border-radius: 10px;
    background-color: #3C8EE4;
}
.attached-third {
    border: solid 1px #FC6B0A;
    border-radius: 12px;
    background-color: #FC6B0A;
}
.news-content {
    margin-bottom: 25px;
    font-size: 15px;
    padding-left: 10px;
}
.news-container {
    border-right: inset 1px #E1E1E1;
    border-left: outset 1px #E1E1E1;
}
.news-picture {
    border: solid 3px #4E4F51;
}
.clubs-description {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 110px;
    text-align: left;
}
.clubs-description-second {
    color: rgb(31, 7, 247);
    font-size: 10px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 110px;
    text-align: left;
}
.tea-description {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 110px;
    text-align: left;
}
.second-collage-discription {
    color: rgb(176, 65, 0);
    font-size: 10px;
    padding-left: 110px;
}
.media-container {
    align-content: center;
    padding-left: 50px;
}
.news-article {
    font-size: 20px;
    color: #555555;
    padding-bottom: 5px;
}
.news-text {
    padding-right: 10px;
    font-size: 15px;
    color: #555555;
}
.news-read-more {
    margin-top: 5px;
    font-size: 11px;
}
.tournament {
    padding-top: 20px;
}
.play-icon {
    padding-left: 5px;
}
.block-hr {
    padding-top: 40px;
}
.small-description {
    font-size: 11px;
}
.videos-text, .photos-text, .rss-text, .golf-day-text{
    margin: 0px;
}
.footer-nav {
    padding-top: 10px;
}
.menu {
    height: 100%;
    color: white;
}
.first-cell {
    border-bottom: inset 1px gray;
    color: rgb(241, 226, 106);
}
.icons-content {
    padding-top: 20px;
    height: 150px;
    border: outset 1px #E1E1E1;
    border-right: inset 1px #E1E1E1;
    border-bottom: none;
}
.button-register{
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #3C8EE4;
    margin-top: 20px;
}
.divider {
    border-right: solid 1px red;
    width: 1px;
}
.site{
    align-items: center;
    max-width: 900px;
    background-color: white;
}
.circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: inset 1px black;
    background-color: #eee;
    margin-top: 70px;
}
.circle:hover, .circle.hover{
    background-color: #ffd900;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ac9200), to(#ffd900));
    background-image: -webkit-linear-gradient(top, #ac9200, #ffd900);
    background-image: -moz-linear-gradient(top, #ac9200, #ffd900);
    background-image: -o-linear-gradient(top, #ac9200, #ffd900);
    background-image: linear-gradient(to bottom, #ac9200, #ffd900);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.circle:active{
    outline:0;
    background-color: #ffd900;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ac9200), to(#ffd900));
    background-image: -webkit-linear-gradient(top, #ac9200, #ffd900);
    background-image: -moz-linear-gradient(top, #ac9200, #ffd900);
    background-image: -o-linear-gradient(top, #ac9200, #ffd900);
    background-image: linear-gradient(to bottom, #ac9200, #ffd900);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#videos-icon:hover{
    background-image: src('images/videos-icon-hovered.png') 
}
footer{
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-bottom: 50px;
}
.rights-reserved {
    font-size: 10px;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 10px;
}
.attached-article {
    color: white;
    font-size: 22px;
}
.attached-text {
    padding-left: 15px;
}
.attached-text-one {
    color: #799C0C;
    font-size: 12px;
}
.attached-text-two {
    color: #04448E;
    font-size: 12px;
}
.attached-text-three {
    color: #BF3A00;
    font-size: 12px;
}
.footer-golf-logo{
    height: 50px;
    padding-right: 10px;
}
.footer-golf-li{
    padding-top: 15px;
    color: white;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #58595B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#58595B), to(#2A2A2A));
    background-image: -webkit-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -moz-linear-gradient(top, #58595B, #2A2A2A);
    background-image: -o-linear-gradient(top, #58595B, #2A2A2A);
    background-image: linear-gradient(to bottom, #58595B, #2A2A2A);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    text-align: center;
}
.sticky {
    position: fixed;
    top: 30%;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.sticky-logos{
    list-style-type: none;
}
.sticky > ul {
    margin-left: 0px;
}
.site-holder {
    border-top: dotted 2px black;
    border-bottom: dotted 2px black;
    background-image: url("../images/background.png");
}
.with-separator {
    position: relative;
    float: left;
    list-style: none;
}
.with-separator:after {
    content: "";
    background: #D7D7D7;
    position: absolute;
    bottom: 15%;
    right: 0;
    height: 100%;
    width: 1px;
    margin-right: 10px;
}
.image-container {
    padding-top: 20px;
}
@media only screen and (max-width: 1023px) {
    .nav-dropdown > li {
        padding: 0px 0px;
   }
    .media-container {
        padding: 0;
   }
    .attached-second, .attached-third {
        height: 100px;
   }
    .news-article {
        text-align: center;
   }
    .news-picture {
        align-content: center;
   }
    .menu {
        text-align: center;
   }
    .icons-content {
        text-align: left;
   }
    .footer-golf-li {
        text-align: center;
   }
    .circle {
        margin-top: 10px;
   }
    .nav-dropdown > li {
        text-align: center;
   }
    .media-container {
        padding-right: 20px;
   }
    .button-container {
        text-align: center;
   }
    .rights-reserved {
        border-bottom: inset 1px gray;
   }
    .attached-pictures div {
        margin-bottom: 10px;
   }
    .topnav a, .dropdown .dropbtn {
        display: none;
   }
    .topnav a.icon {
        float: right;
        display: block;
   }
    .topnav.responsive {
       position: relative;
   }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
   }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
   }
    .topnav.responsive .dropdown {
       float: none;
   }
    .topnav.responsive .dropdown-content {
       position: relative;
   }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
   }
    .topnav {
        width: 100%;
   }
    .dropdown-content {
        margin-top: 5px;
        margin-left: 20px;
   }
    .dropdown-content:after {
        content: none;
   }
    .photos:after{
        content:none;
   }
    div .sticky {
        bottom: 0px;
        left: 0px;
   }
    .sticky {
        position: relative;
        padding-top: 30px;
   }
    .sticky-logos {
        display: -webkit-inline-box;
        width: 100%;
   }
    .sticky-logos li {
        width: 25%;
        text-align: center;
   }
    .news-text {
        text-align: center;
   }
    .news-read-more{
        text-align: center;
   }
    .tournament-logo{
        position: relative;
        z-index: 99;
        left: 0px 
   }
}
