div>hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: solid 1px black;
}

.subcategories {
    padding-top: 50px;
}

.title {
    font-size: 50px;
    color: Red;
}

.main-category {
    color: red;
}

.button-categories {
    margin-top: 15px;
}

div .home,
div .main-category,
div .categories {
    padding-right: 0;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-name {
    font-weight: bold;
    font-size: 20px;
}