.description,
.article {
    margin-bottom: 20px;
}

header button {
    margin-top: 20px;
}

.title {
    font-size: 50px;
    color: Red;
}

body {
    padding: 0;
}

.bottom-content {
    margin-top: 250px;
}

.picture {
    min-width: 440px;
    min-height: 440px;
}

div #price {
    padding-left: 0;
}

.breadcrumb {
    text-transform: capitalize;
}

.product-name {
    font-weight: bold;
    font-size: 20px;
}