
img {
    height: 200px;
}

.description,
.article {
    margin-bottom: 20px;
}

header button {
    margin-top: 20px;
}

div .product_image {
    padding-right: 0;
    padding-left: 0;
}

.content {
    margin-bottom: 50px;
}

.subcategories {
    padding-top: 50px;
}

.title {
    font-size: 50px;
    color: Red;
}

body {
    padding: 0;
}

.breadcrumb {
    text-transform: capitalize;
}

.main-category {
    color: red;
    text-transform: capitalize;
}

.article {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.disabled {
    display: none;
}

ul li .selected {
    background-color: #eee;
    color: darkblue;
}

.paginator {
    text-align: center;
}