<div class="container-fluid">
    <div class="col-sm-4 title">Store</div>
    <div class="col-lg-4">
        <a href='categories?subcategory=mens'>
            <button class="btn btn-primary button-categories">Mens</button>
        </a>
    </div>
    <div class="col-lg-4">
        <a href='categories?subcategory=womens'>
            <button class="btn btn-primary button-categories">Womens</button>
        </a>
    </div>
</div>