button {
    background-color: #4b6781; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 68px;
    width: 68px;
    margin: 4px 2px;
    cursor: pointer;
    size: 20px;

}

.operand,.dot,.equal {
    font-weight: bold;
    font-size:20px;
    color:lightskyblue;
}
.screen {
    border-radius: 10px;
    font-size:23px;
    text-align: right;
    width: 285px;
    margin-left: 1px;
    margin-top: -10px;

}
.container-fluid {
    border-radius: 10px;
    margin: auto;
    padding-top:40px;
    width: 320px;
    height: 450px;
    background-color: black;

}
.equal{
    width: 285px;

}
body{
margin-left: 20px;
}
.clean{
    color: red;
    font-weight: bold;
    font-size: 30px;
}
.erase{
    color:red;
}
.number{
    font-size: 20px;
}