<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
    <link rel='stylesheet' href='/stylesheets/categories.css' />

</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>


            <div class="col-lg-12">
                <h1 class="main-category">
                    <%= subcategory %>
                </h1>
            </div>

        </div>


        <% mainCategory[0].categories.forEach(function(sub) { 
            %>

            <div class="row subcategories">
                <div class="category-name">
                    <%=sub.name%>
                </div>
                <img src="/images/<%=sub.image%>" alt="Picture">
                <div class="description">
                    <%= sub.page_description %>s
                </div>
                <div class="button">
                    <a href='/subcategories?subcategory=<%=sub.id %>&parent_category_id=<%= sub.parent_category_id %>'>
                        <button type="button" class="btn btn-primary" value="<%=sub.id%>">View subcategories</button>
                    </a>
                </div>
                <hr>
            </div>

            <% }); %>
    </div>
</body>
</html>