<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
                <h1>Choose what to browse</h1>   
                </div>
            <div class="men-section col-lg-12">
                    <a href="/categories?subcategory=mens"><img src="/images/categories/men_fashion.jpg" alt="Picture"></a>
            </div>

            <div class="women-section col-lg-12">
                <a href="/categories?subcategory=womens"><img src="/images/categories/women_fashion.jpg" alt="Picture"></a>
            </div>
        </div>
    </div>




</body>

</html>