<!DOCTYPE html>
<html>

<head>
    <title>
        <%= data.name %>
    </title>
    <%- include('partials/head') %>
    <link rel='stylesheet' href='/stylesheets/product.css' />
</head>

<body>
    <header>
            <%- include('partials/header') %>
    </header>

    <div class="container-fluid">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="categories?subcategory=<%=parentCategoryCapitalized %>" class="category">
                        <%= parentCategory %>
                    </a>
                </li>
                <li>
                    <a href="subcategories?subcategory=<%=subCategory %>&parent_category_id=<%= parentCategory %>" class="category">
                        <%= subCategory %>
                    </a>
                </li>
                <li>
                    <a href="products?subCategory=<%=subCategory %>&parent_category=<%=parentCategory %>&product_id=<%=productGroup%>" class="category">
                        <%= productGroup %>
                    </a>
                </li>

                <li>
                    <a>
                        <%= data.name %>
                    </a>
                </li>
            </ul>

            <div class="col-lg-5">
                <div class="col-lg-12 picture">
                    <img src="/images/<%=data.image_groups[0].images[0].link%>" alt="Picture">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-lg-12 product-name">
                    <%= data.name %>
                </div>
                <div class="col-lg-12">
                    <%= data.page_description %>
                </div>
                <div class="col-lg-2 pull-left bottom-content">
                    <button>BUY</button>
                </div>
                <div class="col-lg-5 pull-right bottom-content">
                    <div class="col-lg-8" id="price">
                        <%= Number(data.price).toFixed(2) + ' $' %>
                    </div>
                    <div class="col-lg-3" id="sel">
                        <select>
                            <option value="<%= priceInUSD %>">USD</option>
                            <option value="<%= priceInBGN %>">BGN</option>
                            <option value="<%= priceInEUR %>">EUR</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>