<!DOCTYPE html>
<html>

<head>
    <title class="title">
        <%= title %>
    </title>
    <%- include('partials/head') %>
    <link rel='stylesheet' href='/stylesheets/products.css' />
</head>

<body>

    <header>
        <%- include('partials/header') %>
    </header>

    <div class="container-fluid">
        <div class="row">

            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="categories?subcategory=<%=parentCategory %>" class="category">
                        <%= parentCategory %>
                    </a>
                </li>
                <li>
                    <a href="subcategories?subcategory=<%=subCategory %>&parent_category_id=<%= parentCategory %>" class="category">
                        <%= subCategory %>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <%= id %>
                    </a>
                </li>
            </ul>

            <div class="col-lg-12">
                <h1 class="main-category category">
                    <%= id %>
                </h1>
            </div>

        </div>

        <div class="row">
            <% data.forEach(function(product){ %>

                <div class="col-lg-6 content">
                    <div class="col-lg-12 article">
                        <%= product.name %>
                    </div>

                    <div class="col-lg-5 product_image">
                        <img src="/images/<%=product.image_groups[0].images[0].link%>" alt="Picture">
                    </div>

                    <div class="col-lg-7">
                        <div class="col-lg-12 description">
                            <%= product.short_description %>
                        </div>
                        <div class="col-lg-6">
                            <%= Number(product.price).toFixed(2) %> $
                        </div>
                        <div class="col-lg-6">
                            <a href='product?item_id=<%=product.id%>&subCategory=<%=subCategory %>&parent_category=<%=parentCategory%>&product_group=<%=productId%>'>
                                <button>more info</button>
                            </a>
                        </div>
                    </div>

                </div>
                <% }); %>
                    <div class="clearfix"></div>
                        <div class="row paginator">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="products?subCategory=<%=subCategory %>&parent_category=<%=parentCategory%>&product_id=<%=productId%>&page=<%=1%>">
                                        << First 
                                    </a>
                                </li>
                                <%  let counterForPages = 0;   
                                    for(let i = currentPage - 2 ; i <= numberOfPages && counterForPages < 5; i++){
                                        counterForPages++;
                                        if(i<1){
                                            i = 1;
                                        } %>
                                    <li class="page-item">
                                        <% if(i == currentPage) { %>
                                            <a class="page-link selected" href="products?subCategory=<%=subCategory %>&parent_category=<%=parentCategory%>&product_id=<%=productId%>&page=<%=i%>">
                                                <%= i %>
                                            </a>
                                        <% } else { %>
                                            <a class="page-link" href="products?subCategory=<%=subCategory %>&parent_category=<%=parentCategory%>&product_id=<%=productId%>&page=<%=i%>">
                                                <%= i %>
                                            </a>
                                        <% } %>

                                    </li>
                                <% } %>
                                    <li class="page-item">
                                        <a class="page-link" href="products?subCategory=<%=subCategory %>&parent_category=<%=parentCategory%>&product_id=<%=productId%>&page=<%=numberOfPages%>">
                                            Last >>
                                        </a>
                                    </li>
                            </ul>
                        </div>

        </div>
    </div>
</body>

</html>