<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>
    <link rel='stylesheet' href='/stylesheets/subcategories.css' />
</head>

<body>
    <header>
            <%- include('partials/header') %>
    </header>
    <div class="container-fluid">


        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="categories?subcategory=<%= parentCategory %>" class="category">
                        <%= parentCategory %>
                    </a>
                </li>
                <li>
                    <a href="#" class="category">
                        <%= currentSubcategory %>
                    </a>
                </li>
            </ul>

            <div class="col-lg-12">
                <h1 class="main-category category">
                    <%= currentSubcategory %>

                </h1>
            </div>

        </div>


        <% data.forEach(function(men){ 
                men.categories.forEach(function(category){
                        category.categories.forEach(function(subcategory){
                                if(subcategory.parent_category_id== currentSubcategory){
                        %>

            <div class="row subcategories">
                <div class="category-name">
                    <%=subcategory.name%>
                </div>
                <img src="/images/<%=subcategory.image%>" alt="Picture">
                <div class="text description">
                    <%= subcategory.page_description %>
                </div>
                <div class="button">
                    <a href='products?subCategory=<%=currentSubcategory %>&parent_category=<%=parentCategory%>&product_id=<%=subcategory.id%>&page=1'><button type="button" class="btn btn-primary" value="<%=subcategory.id%>">View products</button></a>
                </div>
                <hr>
            </div>

            <% } 
                }); 
        }); 
});  %>

    </div>
</body>

</html>